 
      /*HEAD SECTION*/
body {
    background-color: white;
    margin: 0;
    padding: 0;
    background-image: url(marbel.jpeg);
    background-attachment: fixed;
    background-size: cover;
    
}

.headbackground {
    background-color: #0f252a;
    height: 220px;
    
}

.NavBar {
    margin-left: 32%;
    margin-top: 30px;
    margin-right: 8%;
}
.NavBar li {
    display: inline;
    padding: 8px;
    font-family: Goudy Old Style;
    font-weight: bold;
}

.NavBar a {
    color: #D5B895;
}

.namehead {
    text-align: center;
    color: #D5B895;
    text-transform: uppercase;
    font-size: 60px;
    font-family: Goudy Old Style;
    font-weight: bold;
    padding-left: 25%;
    padding-top: 7%;
}
    /*MAJOR SECTION*/
.major {
    text-transform: uppercase;
    padding-left: 48%;
    font-weight: bolder;
    font-family: Goudy Old Style;
    font-size: large;
}
#majorLine {
    border: 2px solid grey;
    width: 38%;
    margin-right: 55%;
}

.pagepurpose {
    background-color: #D5B895;
    position: relative;
    margin-left: 38%;
    margin-right: 14%;
    text-align: center;
    font-weight: bolder;
    font-size: large;
}

    /*RESUME CONTENT SECTION*/

.personal {
    border-width: 3px;
    box-shadow: 1px 1px 6px grey, -1px -1px 6px grey;
    border-radius: 14px;
    margin-left: 28%;
    margin-right: 5%;
    padding: 5px;
    padding-left: 35px;
    font-weight: bolder;
    font-size: 18px;
    font-family: Goudy Old Style;
}


.personalheading {
    margin-bottom: 20px;
    font-weight: bolder;
    font-family: Goudy Old Style;
    font-size: x-large;
}

.educate {
    border-width: 3px;
    box-shadow: 1px 1px 6px grey, -1px -1px 6px grey;
    border-radius: 14px;
    margin-left: 28%;
    margin-right: 5%;
    margin-top: 60px;
    padding: 5px;
    font-weight: bolder;
    font-size: 18px;
    font-family: Goudy Old Style;
}

.educateheading {
    margin-bottom: 20px;
    font-weight: bolder;
    font-family: Goudy Old Style;
    font-size: x-large;
    margin-left: 16px;
}


.coures {
    border-width: 3px;
    box-shadow: 1px 1px 6px grey, -1px -1px 6px grey;
    border-radius: 14px;
    margin-left: 28%;
    margin-right: 5%;
    margin-top: 60px;
    padding: 5px;
    padding-top: 2px;
    font-weight: bolder;
    font-size: 18px;
    font-family: Goudy Old Style;
    
}

.courseheading {
    margin-left: 16px;
    font-weight: bolder;
    font-family: Goudy Old Style;
    font-size: x-large;
}

.tools {
    border-width: 3px;
    box-shadow: 1px 1px 6px grey, -1px -1px 6px grey;
    border-radius: 14px;
    margin-left: 28%;
    margin-right: 5%;
    margin-top: 60px;
    padding: 5px;
    padding-top: 2px;
    font-weight: bolder;
    font-size: 18px;
    font-family: Goudy Old Style;
}

.toolsheading {
    margin-left: 16px;
    font-weight: bolder;
    font-family: Goudy Old Style;
    font-size: x-large;
}

.project {
    border-width: 3px;
    box-shadow: 1px 1px 6px grey, -1px -1px 6px grey;
    border-radius: 14px;
    margin-left: 28%;
    margin-right: 5%;
    margin-bottom: 20px;
    margin-top: 60px;
    padding: 5px;
    font-weight: bolder;
    font-size: 18px;
    font-family: Goudy Old Style;
}

.projectheading {
    margin-bottom: 20px;
    margin-left: 16px;
    font-weight: bolder;
    font-family: Goudy Old Style;
    font-size: x-large;
}

             /*SIDE BAR SECTION*/

.sideBar {
    top: 0px;
    bottom: 0px;
    position: absolute;
    background-color: #D5B895;
    width: 250px;
    height: 1880px;
}

.sideBarLine {
    border: 3px solid black;
    width: 88%;
    margin-left: 10%;
    margin-top: 10px;
}

.sideBarHeading1 {
    margin-left: 10%;
    font-size: 20px;
    margin-top: 110px;
    font-weight: bold;
}

.sideBarHeading2 {
    margin-left: 10%;
    font-size: 20px;
    margin-top: 30px;
    font-weight: bold;
}


.biPerson {
    color: black;
    width: 35px;
    height: 35px;
    padding-left: 24px
}

.biAddress {
    color: black;
    width: 35px;
    height: 35px;
    padding-left: 24px
}

.biEmail {
    color: black;
    width: 35px;
    height: 35px;
    padding-left: 24px
}



.biTelephone {
    color: black;
    width: 35px;
    height: 35px;
    padding-left: 24px
}

.biLinkedin {
    color: black;
    width: 35px;
    height: 35px;
    padding-left: 26px;
}

.biTwitter {
    color: black;
    width: 40px;
    height: 40px;
    padding-left: 26px
}

.biGithub {
    color: black;
    width: 40px;
    height: 40px;
    padding-left: 26px
}

a {
    text-decoration: none;
    color: black;

}

a:hover {
    text-decoration: underline;
}

.myimage {
    padding-left: 80px;
    margin-top: 50px;
}

    /*My image animation*/
.myimage {
    -webkit-animation: mover 1s infinite alternate;
    animation: mover 1s infinite alternate;
}

@-webkit-keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-18px);
    }
}

    /*adjesting screen  size*/

@media screen and (min-width: 320px) and (max-width: 575px) {

    .headbackground {
        background-color: #0f252a;
        height: 220px;
        width: auto;
    }

    .namehead {
        font-size: 45px;
        padding-left: 2%;
    }

    .NavBar {
        text-align: center;
        margin-left: 0px;
        margin-right: 0px;
        padding: 0px;
    }

    .NavBar li {
        font-size: 14px;
        padding: 4px;
        padding-left: 1px;
    }

    .major {
        text-transform: uppercase;
        padding: 10%;
        font-weight: bolder;
        font-family: Goudy Old Style;
        font-size: large;
    }

    #majorLine {
        margin-right: 10%;
        padding-left: 130px;
    }

    .pagepurpose {
        margin-left: 10%;
        margin-right: 10%;
    }

    .sideBar {
        top: 2650px;
        width: 100%;
        height: 280px;
    }

    .personal {
        margin-left: 5%;
    }

    .educate {
        margin-left: 5%;
    }


    .coures {
        margin-left: 5%;
    }


    .tools {
        margin-left: 5%;
    }

    .project {
        margin-left: 5%;
    }

    .sideBarLine {
        position: absolute;
        border: 2px solid black;
        width: 69.5%;
        margin-left: 0%;
        padding-right: 100px;

        top: 30px;
    }

    .sideBarHeading1 {
        position: absolute;
        margin-left: 15%;
        font-size: 20px;
        margin-top: 10px;
        top: 0px;
    }

    .sideBarHeading2 {
        position: absolute;
        margin-left: 65%;
        font-size: 20px;
        margin-top: 10px;
        top: 0px;
    }

    .mobileInfoSetting {
        position: absolute;
        bottom: 10px;
        font-size: 14px;
        
    }

    .mobileSocialSetting {
        position: absolute;
        bottom: 45px;
        font-size: 14px;
        margin-left: 58%;
    }

    /*Hiding the image from the screen*/
    .myimage {
        display: none;
    }

}

@media screen and (min-width: 576px) and (max-width: 768px) {

    .namehead {
        font-size: 50px;
        padding-left: 5%;
    }

    .NavBar {
        text-align: center;
        margin-left: 0px;
        margin-right: 0px;
        padding: 0px;
    }

        .NavBar li {
            font-size: 16px;
            padding: 4px;
        }

    .major {
        text-transform: uppercase;
        padding-left: 26%;
        font-weight: bolder;
        font-family: Goudy Old Style;
        font-size: large;
    }

    #majorLine {
        margin-right: 40%;
        padding-left: 50px;
    }

    .pagepurpose {
        margin-left: 10%;
        margin-right: 14%;
    }

    .sideBar {
        top: 2100px;
        width: 100%;
        height: 280px;
    }

    .personal {
        margin-left: 5%;
    }

    .educate {
        margin-left: 5%;
    }


    .coures {
        margin-left: 5%;
    }


    .tools {
        margin-left: 5%;
    }

    .project {
        margin-left: 5%;
    }

    .sideBarLine {
        position: absolute;
        border: 2px solid black;
        width: 69.5%;
        margin-left: 30%;
        top: 30px;
    }

    .sideBarHeading1 {
        position: absolute;
        margin-left: 30%;
        font-size: 20px;
        margin-top: 10px;
        top: 0px;
    }

    .sideBarHeading2 {
        position: absolute;
        margin-left: 75%;
        font-size: 20px;
        margin-top: 10px;
        top: 0px;
    }

    .mobileInfoSetting {
        position: absolute;
        bottom: 10px;
        font-size: 14px;
        margin-left: 28%;
    }

    .mobileSocialSetting {
        position: absolute;
        bottom: 40px;
        font-size: 14px;
        margin-left: 70%;
    }


    .myimage {
        padding-left: 35px;
        margin-top: 90px;
    }

    .myimage {
        -webkit-animation: mover 1s infinite alternate;
        animation: mover 1s infinite alternate;
    }

    @-webkit-keyframes mover {
        0% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(-18px);
        }
    }
}

@media only screen and (min-width: 769px) and (max-width: 991px) {

    .namehead {
        padding-left: 30%;
    }

    .NavBar {
        text-align: center;
        
    }

        .NavBar li {
            font-size: 12px;
            
        }

    #majorLine {
        margin-right: 35%;
        padding-left: 75px;
    }

    .pagepurpose {
        margin-right: 6%;
    }

    .sideBar {
        width: 225px;
        height: 2150px;
    }

    .personal {
        margin-left: 35%;
    }

    .educate {
        margin-left: 35%;
    }


    .coures {
        margin-left: 35%;
    }


    .tools {
        margin-left: 35%;
    }

    .project {
        margin-left: 35%;
    }
}

@media only screen (min-width: 992px) and (max-width: 1024px){

    .NavBar {
        margin-left: 30%;
        margin-top: 30px;
        margin-right: 4%;
        
    }

    .NavBar li {
        display: inline;
        padding: 4px;
        font-family: Goudy Old Style;
        font-weight: bold;
    }
}


